* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основной стиль карточки */
.category-card {
  display: flex;
  align-items: flex-start;
  background: white;
  border-radius: 16px;
  padding: 24px;
  max-width: 542px;
  max-height: 164px;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  gap: 16px;
  position: relative;
  cursor: pointer;
}

/* Ховер эффект */
.category-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Блок с картинкой */
.category-image img {
  width: 116px;
  height: 116px;
  border-radius: 12px;
  flex-shrink: 0;
}

.category-header-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.category-header-wrapper h3 {
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 28px;
  flex-grow: 1;
  margin: 0;
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
  flex-shrink: 0;
  position: relative;
}

.category-header h3 {
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 28px;
  flex-grow: 1;
  margin: 0;
}

.category-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Информация (заголовок и стрелка) */
.category-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

/* Заголовок */
.category-info h3 {
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  line-height: 28px;
}

/* Ссылка со стрелкой */
.category-link {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  transition: 0.3s ease;
}

.category-card:hover .arrow-icon {
  transform: scale(1.1);
}

/* Описание */
.category-description {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;  
  text-align: left;
  font-size: 16px;
  color: #535862;
  margin-top: 10px;
  width: 85%;
  line-height: 24px;
}

/* Адаптивность */
@media (max-width: 768px) {
  .category-card {
    display: flex;
    align-items: self-start;
    text-align: left;
    max-width: 100%;
  }
  .category-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .category-header {
    margin-bottom: 0px;
  }
}