.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181D27;
    padding: 40px 20px;
    width: 100%;
}

/* Основное содержимое футера */
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    gap: 165px;
    align-items: flex-start;
    padding: 48px 112px;
}

/* Левая часть (логотип) */
.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.footer-left h1 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    line-height: 24px;
}

.footer-logo {
    width: 32px;
    margin-right: 8px;
}

/* Центральная часть (Навигация + Контакты) */
.footer-center {
    display: flex;
    flex-direction: row;
    gap: 165px;
}

.footer-nav,
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-nav h4,
.footer-contacts h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #535862;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.footer-nav ul li {
    margin-bottom: 12px;

}

.footer-nav ul li a,
.footer-contacts p {
    font-size: 16px;
    color: #D5D7DA;
    text-decoration: none;
}

.footer-btn.telegram-btn {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    background-color: #181D27;
    border: none;
    transition: 0.3s ease-in-out;
    border: #535862 solid 1px;
}


/* Правая часть (Кнопки) */
.footer-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-btn {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #181D27;
    color: white;
    border: none;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: #535862 solid 1px;
}


.footer-btn:hover {
    background-color: #535862;
}

/* Новый блок footer-bottom */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 48px;
    padding: 20px 112px;
    margin: auto 0;
    font-size: 14px;
    color: #535862;
}

.footer-bottom p {
    font-size: 12px;
    line-height: auto;
}

.footer-bottom a {
    color: #535862;
    text-decoration: none;
    font-size: 12px;
    line-height: auto;

}

.footer-bottom a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 20px;
        gap: 20px;
    }

    .footer-center {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 24px;
    }

    footer-contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
        margin-bottom: 15px;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap:24px;
        margin: auto 0;
        padding:20px;
}

}